.box {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid darkblue;
    background: lightblue;
    margin: 50px;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
